:root {
  /*background colors*/
  --backgrounder: #50567D;
  /*green over purple BIG ONLY*/
  --header-text: #C0D8B6;
  --header-textholder: #7E678B;
  /*beige over purple*/
  --plain-body-textholder: #654A74;
  --plain-body-text: #D0D098;
  /*green over purple*/
  --colorful-body-text: #C0D8B6;
  --colorful-body-textholder: #654A74;
  }
