:root {
  /*background colors*/
  --backgrounder: #FBF0D4;
  /*purple over green BIG ONLY*/
  --header-text: #7E678B;
  --header-textholder: #C0D8B6;
  /*purple over beige*/
  --plain-body-text: #654A74;
  --plain-body-textholder: #D0D098;
    /*purple over green*/
  --colorful-body-text: #654A74;
  --colorful-body-textholder: #C0D8B6;
  }
